<h1>All class requests</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-striped">
      <tr>
        <th class="text-center">Class requet</th>
        <th class="text-center">Username</th>
        <th class="text-center">Email</th>
        <th class="text-center">State</th>
      </tr>
      <%= render @requests %>
    </table>
  </div>
</div>