<table border="1" >
  <tr>
    <td><b>Username</b></td>
    <td><b>Semester</b></td>
    <td><b>Middle score</b></td>
    <td><b>End score</b></td>
    <td><b>Score</b></td>
    <td><b>Edit</b></td>
  </tr>
  <%= render @table_scores %>
  <%= will_paginate %>
</table>
<%= will_paginate %>