<% provide(:title, "Fees") %>
<%= link_to "Create fee for user", new_admin_fee_path %><br><br>
<p>
  Download:
  <%= link_to "CSV", fees_path(format: "csv") %> |
  <%= link_to "Excel", fees_path(format: "xls") %>
</p>

<table border="1" >
  <tr>
    <td><b>Semester</b></td>
    <td><b>Name</b></td>
    <td><b>MSSV</b></td>
    <td><b>Cost</b></td>
    <td><b>Total credit</b></td>
    <td><b>Total money</b></td>
    <td><b>Submit</b></td>
  </tr>
  <%= render @fees %> 
</table>
