<%= link_to "Create total score", new_total_score_path %><br><br>
<table border="1" >
  <tr>
    <td><b>Semester</b></td>
    <td><b>Name</b></td>
    <td><b>MSSV</b></td>
    <td><b>CPA</b></td>
    <td><b>GPA</b></td>  
  </tr>
  <%= render @total_scores %>
</table>